<h1><%=login  %></h1>

<form>
    <label for="email">eamil:</label>
<input id="email" type="email" required>
<label for="pass">pass:</label>
<input id="pass" type="password" required>
<button type="submit">Login</button>
</form>
<p>didn't have an account</p>
<a href="/register">register</a>