<h1><%=register  %></h1>

<form>
    <label for="email">eamil:</label>
<input id="email" type="email" required>
<label for="pass">pass:</label>
<input id="pass" type="password" required>
<button type="submit">register</button>
</form>
<a href="/login">login</a>